body
{
	margin: 0px;
	background: #BBBBBB;
	color: #fff;
}

nav
{
	background-color: #6666FF;
	position: sticky;
	top: 0px;
	z-index: 1;
}

#menu
{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px; 
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	list-style-type: none;
}

#menu a
{
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
}

#menu a:hover
{
	cursor: pointer;
	color: #000;
}

header div{
	width: 100%;
	height: 950px;
	margin-left: auto;
	margin-right: auto;
    position: sticky;
}

header div div
{
	position: absolute;
	font-size: 20px;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 2px;
}

header img
{
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	margin-bottom: 10px;
	opacity: 0.6;
}

#top
{
	margin: 0px;
	padding-top: 30px;
	padding-left: 20px;
	width: 60%;
	position: absolute;
	top: 8%;
	left: 30%;
	text-transform: uppercase;
	text-align: right;
	font-size: 50px;
	letter-spacing: 3px;
}

#quotation
{
	position: absolute;
	top: 700px;
	left: 12%;
	margin: 5px;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
	letter-spacing: 2px;
}

h1
{
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
	margin-top: 5px;
}

.aboutMe ul
{
	text-align: center;
	padding: 0px;
}

.aboutMe li
{
	padding-top: 15px;
	list-style-type: none;
}

h2
{
	text-align: center;
	font-size: 25px;
}

footer h1
{
	padding-top: 10px;
	font-size: 25px;
}



#up
{
	position: fixed;
	top: 80%;
	right: 10%;
	width: 60px;
	height: 60px;
	background-image: url(up.jpg);
	opacity: 0.5;
	display: none;
}

#up:haver
{
	cursor: pointer;
}

footer div
{
	text-align: center;
	line-height: 60px;
	border-top: 2px solid #fff;
	margin-top: 100px;
	background-color: #777777;
	clear: both;
}


@media only screen and (min-width: 770px){
	#cv320
	{
		display: none;
	}

	#responsiveMenu
	{
		display: none;
	}

	header div div
	{
		top: 18%;
		left: 50%;
		width: 40%;
	}

	#menu li
	{
		display: inline-block;
		padding-left: 30px;
		padding-right: 30px;	
	}

	.aboutMe
	{
		padding: 20px 20px 100px 20px;
		margin: 30px 120px;
		background-color: #777777;
		font-size: 20px;
		line-height: 30px;
		-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
	}


	img
	{
		width: 400px;
		padding-right: 50px;
		margin-bottom: 100px;
	}

	#score
	{
		float: right;
		margin-right: 70px;
		margin-top: 60px;
	}

}

@media only screen and (max-width: 769px) and (min-width: 641px){
	#cv320
	{
		display: none;
	}

	#responsiveMenu
	{
		display: none;
	}

	header div div
	{
		top: 18%;
		left: 50%;
		width: 40%;
	}

	#menu li
	{
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;	
	}

	header div{
		height: 700px;
	}

	#top
	{
		font-size: 35px;
	}

	#quotation
	{
		top: 550px;
	}

	.aboutMe
	{
		padding: 20px 20px 100px 20px;
		margin: 30px 120px;
		background-color: #777777;
		font-size: 20px;
		line-height: 30px;
		margin: 5px 5px;
		-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
	}

	#score
	{
		float: right;
		margin-right: 70px;
		margin-top: 60px;
	}


	img
	{
		width: 400px;
		padding-right: 50px;
		margin-bottom: 100px;
	}

}

@media only screen and (max-width: 640px){
	#cv
	{
		display: none;
	}

	#responsiveMenu
	{
		margin-left: 80%;
	}

	header div div
	{
		top: 18%;
		left: 5%;
		width: 50%;
	}

	#menu
	{
		text-align: right;
		padding-right: 40px;
		display: none;
	}

	#menu li
	{
		padding-top: 5px
		padding-right: 10px;	
	}

	#menu a
	{
		font-size: 30px;
	}


	header div{
		height: 480px;
	}

	#top
	{
		padding-left: 10px;
		position: absolute;
		top: 2%;
		left: 2%;
		font-size: 20px;
		width: 90%;
	}

	#quotation
	{
		top: 380px;
		left: 1%;
		margin: 5px;
		font-size: 15px;
	}

	.aboutMe
	{
		background-color: #777777;
		padding: 10px;
		padding-top: 60px;
		margin-top: 60px;
		font-size: 15px;
		line-height: 30px;
		min-height: 480px;
	}

	img
	{
		width: 100%;
		float: left;
		margin-bottom: 50px;
	}

}