body
{
	margin: 0px;
	background: #BBBBBB;
	color: #fff;
}

nav
{
	background-color: #6666FF;
	position: sticky;
	top: 0px;
	z-index: 1;
}

header div{
	width: 100%;
	height: 950px;
	margin-left: auto;
	margin-right: auto;
    position: sticky;
}

header img
{
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	margin-bottom: 10px;
	opacity: 0.6;
}


#menu
{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px; 
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	list-style-type: none;
}

#menu li
{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;	
}

#menu a
{
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	font-size: 15px;
}

#menu a:hover
{
	cursor: pointer;
	color: #000;
}

#top
{
	margin: 0px;
	padding-top: 30px;
	padding-left: 20px;
	width: 60%;
	position: absolute;
	top: 8%;
	left: 30%;
	text-transform: uppercase;
	text-align: right;
	font-size: 50px;
	letter-spacing: 3px;
}

header div div
{
	position: absolute;
	top: 18%;
	left: 50%;
	width: 40%;
	font-size: 20px;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 2px;
}


#quotation
{
	position: absolute;
	top: 700px;
	left: 12%;
	margin: 5px;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
	letter-spacing: 2px;
}

h1
{
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
	margin-top: 5px;
	height: 34px;
}

.aboutMe
{
	padding: 20px 20px 100px 20px;
	margin: 30px 120px;
	background-color: #777777;
	font-size: 20px;
	line-height: 30px;

	-webkit-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 2px rgba(0,0,0,0.75);
}


.aboutMe ul
{
	text-align: center;
	padding: 0px;
}

.aboutMe li
{
	padding-top: 15px;
	list-style-type: none;
}

img
{
	width: 400px;
	float: left;
	padding-right: 50px;
	margin-bottom: 100px;
}

h2
{
	text-align: center;
	font-size: 25px;
}

footer h1
{
	padding-top: 10px;
	font-size: 25px;
}

footer div
{
	text-align: center;
	line-height: 60px;
	border-top: 2px solid #fff;
	margin-top: 100px;
	background-color: #777777;
}

#up
{
	position: fixed;
	top: 80%;
	right: 10%;
	width: 60px;
	height: 60px;
	background-image: url(up.jpg);
	opacity: 0.5;
	display: none;
}

#up:haver
{
	cursor: pointer;
}